# User files ------------------------------------------------
*copy).*
*.bin

# Directories -----------------------------------------------
data/

# Web extensions --------------------------------------------
*.html
*.htm
