# User files ------------------------------------------------
*copy).*
*.log
*.bin

# Directories -----------------------------------------------
exp/
data/

# Web extensions --------------------------------------------
*.html
*.htm
*.pdf
